:root {
    --f-primary: 'Montserrat', sans-serif;
}

.title {
    margin-top: 20px;
    margin-left: 33px;
    font-family: var(--f-primary);
    font-size: 1rem;
    position: absolute;
}

.cv {
    margin-top: 20px;
    font-family: var(--f-primary);
    font-size: 1rem;
    right: 0;
    position: absolute;
    padding-right: 15px;
}

.menu {
    display: grid;
    margin-top: 80px;
    width: 101%;
    position: absolute;
    left: -2px;
}

.menuButton {
    font-family: var(--f-primary);
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.03rem;
}

a {
    text-decoration: none;
    color: black;
}

a {
    padding: 60.5px;
    padding-left: 20%;
}