.title {
    margin-top: 20px;
    margin-left: 33px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    position: absolute;
}

.cv {
    margin-top: 20px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    right: 0;
    position: absolute;
    padding-right: 15px;
}

.menu {
    display: grid;
    margin-top: 80px;
    width: 101%;
    position: absolute;
    left: -2px;
}

.menuButton {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a {
    padding: 48px;
    padding-left: 20%;
}