:root {
    --f-primary: 'Merriweather', serif;
}

.title {
    top: 0;
    left: 3%;
    font-family: var(--f-primary);
    font-size: 1.05rem;
    position: absolute;
}

.cv {
    top: 0;
    font-family: var(--f-primary);
    font-size: 1rem;
    right: 0;
    position: absolute;
    padding-right: 3%;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 6%;
    width: 94%;
    position: absolute;
    grid-gap: 2rem;
    left: 3%;
}

.menu a {
    font-family: var(--f-primary);
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 0.03rem;
}

a {
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-left: 1rem;
}

img {
    width: 100%;
    height: auto;
}

#anthropocene:hover {
    background-color: rgb(0, 236, 185);
}

#drawingGame:hover {
    background-color: rgb(255, 192, 74);
}

#books:hover {
    background-color: rgb(255, 213, 221);
}

#animace:hover {
    background-color: rgb(255, 43, 43);
}

#gameOfLife:hover {
    background-color: rgb(170, 170, 170);
}

#typingTest:hover {
    background-color: rgb(42, 63, 245);
}


@media only screen and (max-width: 930px) {
    .menu {
        display: grid;
        grid-template-columns: auto auto;
    }
  }

@media only screen and (max-width: 780px) {
    .menu {
        display: grid;
        grid-template-columns: auto;
    }
}