:root {
    --f-primary:'Merriweather', serif;
}


.title {
    margin-top: 1%;
    margin-left: 33px;
    font-family: var(--f-primary);
    font-size: 1.05rem;
}


a {
    text-decoration: none;
    color: black;
}

img {
    width: 55%;
    margin-left: 40%;
    display: block;
    padding-bottom: 5rem;
    padding-top: 0.3rem;
}

.menu {
    margin-top: 4%;
    padding-left: 10%;
    position: absolute;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1rem;

}

.menuTitle {
    font-family: var(--f-primary);
    font-size: 1.3rem;
    cursor: pointer;
    letter-spacing: 0.03rem;
}

.menuText {
    font-family: var(--f-primary);
    margin-top: 0;
    font-size: 1.1rem;
    width: 25%;
    line-height: 2rem;
    position: absolute;
    display: none;
}

@media only screen and (max-width: 930px) {
    .menu {
        position: static;
    }

    .menuText {
        position: static;
        width: auto;
    }

    img {
            width: 100%;
            margin-left: 0%;
    }
  }