:root {
    --f-primary: 'Merriweather', serif;
}

.title {
    top: 0;
    margin-left: 33px;
    font-family: var(--f-primary);
    font-size: 1.05rem;
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

.text {
    margin-top: 5%;
    font-family: var(--f-primary);
    font-size: 1.1rem;
    width: 25%;
    line-height: 2rem;
    margin-left: 20%;
}

@media only screen and (max-width: 930px) {
    .text {
        width: auto;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
    }
  }