:root {
    --f-primary: 'Merriweather', serif;
}

.title {
    top: 0;
    margin-left: 33px;
    font-family: var(--f-primary);
    font-size: 1.05rem;
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}