:root {
    --f-primary: 'Montserrat', sans-serif;
}

body {
    font-size: 20px;
}

.title {
    padding-top: 1px;
    margin-bottom: 25px;
    margin-left: 100px;
    top: 0;
}

.h {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#canvas{
    background-color: rgb(238, 238, 238);
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.brushes {
    top: 6.7rem;
    right: 2%;
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.brushes div {
    margin-bottom: 1rem;
}

#brush {
    color: rgb(170, 170, 170);
}


.buttons {
    margin-left: auto; 
    margin-right: auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#arrow {
    padding-left: 20px;
    height: 48px;
    position: absolute;
    cursor: pointer;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.menu td {
    padding: 10px;
    transition: color 0.5s ease;
    column-width: 7rem;
    text-align: center;
}

td:hover {
    color: rgb(119, 119, 119);
}

a {
    text-decoration: none;
    color: black;
}