body {
    font-size: 20px;
}

.title {
    padding-top: 1px;
    margin-bottom: 25px;
    margin-left: 20px;
    top: 0;
}

.h {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#canvas{
    background-color: rgb(238, 238, 238);
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.brushes {
    top: 110px;
    right: 30px;
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.buttons {
    margin-left: auto; 
    margin-right: auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.button {
    padding: 10px;
    transition: color 0.5s ease;
}

.button:hover {
    color: rgb(119, 119, 119);
}